h1, h2, h3 {
  font-family: 'Luckiest Guy', cursive;
}

body, p, span, div {
  font-family: 'Raleway', sans-serif;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-page {
  background-image: url("/src/assets/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-page h1 {
  padding: 2rem;
  font-family: "Luckiest Guy", cursive;
  font-weight: 700;
  font-style: normal;
}



.login-page {
  background-image: url("/src/assets/background2.jpg");
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
}
.login-page .fild {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  margin-top: 2em;
  gap: .5rem;
}
.login-page .login-buttons {
  margin-top: auto;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
}


.signup-page {
  background-image: url("/src/assets/background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
}



.signup-page .fild {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  margin-top: 2em;
  gap: .5rem;
}
.signup-page .signup-buttons {
  margin-top: auto;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
}




.play-page {
  background-image: url("/src/assets/background4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.play-page .play-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border: 2px solid red;
}

.logout-page {
  background-image: url("/src/assets/background5-exit.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;      
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  background-color: #1abc9c;   
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: background-color 0.2s ease, transform 0.1s ease;
  text-decoration: none;
  border: none;
}

.button:hover {
  background-color: #16a085; 
  transform: scale(1.05);
}


/* .button:active {
  background-color: #149174;
  transform: scale(0.95);
} */

/* .button-home {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;      
  height: 60px;
  padding: 0;
  border-radius: 50%; 
  background-color: #1abc9c;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.button-home:hover {
  background-color: #16a085;
  transform: scale(1.05);
} */




