h1, h2, h3 {
  font-family: 'Luckiest Guy', cursive;
}

body, p, span, div, button {
  font-family: 'Raleway', sans-serif;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}



.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;      
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  background-color: #1abc9c;   
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: background-color 0.2s ease, transform 0.1s ease;
  text-decoration: none;
  border: none;
}

.button:hover {
  background-color: #16a085; 
  transform: scale(1.05);
}


/* .button:active {
  background-color: #149174;
  transform: scale(0.95);
} */

/* .button-home {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;      
  height: 60px;
  padding: 0;
  border-radius: 50%; 
  background-color: #1abc9c;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.button-home:hover {
  background-color: #16a085;
  transform: scale(1.05);
} */



.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding: .3rem;
  text-align: center;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fafafa4a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

}
